<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
  </head>

  <body>
    <div class="wrapper">
      <canvas id="gameboard" style="background-color: cornflowerblue;" />
    </div>
  </body>
  <script src="../dist/js/app.js"></script>
</html>

<!-- Pontos surgem aleatoriamente -->
<!-- Quando coletarem ganham um ponto, quem chegar a 10 pontos vence -->
<!-- Quando colidirem vão se espalhar e cada um perde uma vida -->
